<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete developer</title>
    <style>
    .submit1 {
    background-color: #008CBA;
    padding: 14px 40px;
    color: white;
    font-size: 15pt;
    border-radius: 12px;
    }
    .form-control-string {
     margin-bottom: 1rem;
    }
    .inscriptionTrue {
        color: green;
        font-size: 25pt;
    }
    .inscriptionFalse {
        color: red;
        font-size: 25pt;
    }
    </style>
</head>
<body>
<div>
    <div class="form-control-string">
        <h1 th:text="'Developer removed from: ' + ${IdDeveloper}"></h1>

        <!--#if expr=(!str = $trueDelete) -->
        <b1 th:text="${trueDelete}" class="inscriptionTrue"></b1>
        <!--endif-->
        <!--#if expr=(!str = $falseDelete) -->
        <b1 th:text="${falseDelete}" class="inscriptionFalse"></b1>
        <!--
</div>
<div>
    <form action=/developers method=GET>
        <input class="submit1" type=submit value='Developer menu'>
    </form>
</div>
</div>
</body>
</html>